.place__card{
  max-width: 984px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "place-name artist"
                        "image text"
                        " button text"
                         ". text";
  column-gap:40px;
  row-gap: 48px;
  margin: 80px auto 0;
  box-sizing: border-box;
}
.place__card:first-child{
  margin-top: 0;
}
@media screen and (max-width:768px) {
  .place__card{
  max-width:720px;
  grid-template-columns: 1fr 1fr;
  row-gap: 46px;
  column-gap: 28px;
  }
}
@media  screen and (max-width:520px) {
  .place__card{
    min-width: 288px;
    grid-template-columns: 1fr;
    row-gap: 30px;
    grid-template-areas: unset;



  }

}
