.cover {
  background-image: url(../../images/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1184px;
  min-height: 740px;
  margin: 92px auto 0;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  transition: linear 0.5s;
}
.cover:hover{
  background-image:url(../../images/cover.png);
}
@media screen and (max-width:768px){
  .cover{
    min-height: 746px;
  }

}
@media screen and (max-width:320px){
  .cover{
    min-height: 254px;
    margin-top: 64px;

  }

}

