.place__link {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
  text-align: center;
  padding: 13px 20px;
  background: #0278fe;
  border-radius: 4px;
  max-width: 248px;
  width: 100%;
  max-height: 48px;
  text-decoration: none;
  transition: linear 0.5s;
  box-sizing: border-box;
  }
.place__link:hover{
  background-color:#0063d2;
  }


  @media screen and (max-width:320px){
    .place__link{
    max-width: 288px;
    margin: 0 auto;


    }

  }
