.cover__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  color: #fffdfd;
  max-width: 656px;
  margin: 0;
}
@media screen and (max-width:320px){
  .cover__title{
    font-size: 32px;
    line-height: 1.09;
  }

}
