.place {
  margin: 0 auto;
  box-sizing: border-box;
}
@media screen  and (max-width:768px){
  .place{
    max-width: 720px;
    width: 100%;
    }

}
@media screen and (max-width:320px){
  .place{
  max-width: 320px;
  padding: 0;
  }

}
