.place__artist-name {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-decoration: none;
  color: #ffffff;
  margin: 0;
  box-sizing: border-box;
  padding: 0 10px;
}
